// Version
$mobile-widths-only: "min-width: 320px";
$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1024px";
$desktopx2-widths: "min-width: 1050px";

// Fonts
$font: "Montserrat", "Arial", sans-serif;


// color
$text-color: #141517;
$text-other-color: #2c2e3f;
$decorate-color: #fe7865;
$link-color: #48494d;
$decorate-hover-color: #f17d4b;
$modal-color: #fbf8f8;
$body-color: #ffffff;
